*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.UpperNav{
    display: flex;
    justify-content: space-around;
    font-family: "Dancing Script", cursive;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: transparent;
    position: fixed;
}
.UpperNav:hover{
    background-color: black;
    transition: 0.5s;
    animation-timing-function: 0.3s;
    animation: ease;
    animation-duration: 02s;
}
.UpperNav h1 {
    color: white;
}
.UpperNav a{                             
    text-decoration: none;
}
.UpperNav ul{
    color: white;
    font-family: "Ubuntu Mono", monospace;
}
.UpperNav li{                   
    color: white;
    float: left;
    margin-left: 50px;  
    list-style: none;
}
.UpperNav img{
    display: none;
}
.lowerNav{
    display: none;
}
.gallerycontainer{
      height: 100vh;
    width: 100%;
    background: url('/assets/skyline.jpg');
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallerycenterdiv{
      width: 70%;
      height: 400px;
      overflow: hidden;
}
.gallerycontent{
    width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
}
.gallerycontent1 {
        animation: bestOFtheBest 4s infinite ease;
}
  @keyframes bestOFtheBest {
    0% {
      margin-left: 0%; }
    70% {
      margin-left: -100%; }
    100% {
      margin-left: -100%; }
  }
.gallerycontent2 {
    margin-left: 100%;
        margin-top: -400px;
        animation: bestOFtheBest2 4s infinite ease;
}
@keyframes bestOFtheBest2 {
    0% {
      margin-left: 100%; }
    70% {
      margin-left: 0%; }
    100% {
      margin-left: 0%; } 
}

.gallerycontent h1{
    font-family: "Dancing Script", cursive;
          color: white;
          text-shadow: 0px 0px 10px black;
          margin-bottom: 10px;
          text-align: center;
}
.gallerycontent p{
    width: 500px;
          color: white;
          text-shadow: 0px 0px 10px black;
          margin-bottom: 10px;
          text-align: center;
          font-family: "Ubuntu Mono", monospace;
} 
.gallerycontent h2{
    font-family: "Ubuntu Mono", monospace;
    font-size: 35px;
          color: white;
          text-shadow: 0px 0px 10px black;
          margin-bottom: 10px;
} 
.ourgallerycontainer{
    text-align: center;
    margin-top: 5%;
}
.ourgallerycontainer h1{
    font-size: 40px;
    font-family: "Dancing Script", cursive;
}
.ourgalleryimgs{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ourgalleryimgs a img{ 
    width: 55%;
}
.HomeLastSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
    padding-bottom: 2%;
    background-color: black;
}
.HomeLastSectionicons{
    justify-content: center;
    display: flex;
    width: 1%;
    margin-top: 2%;
    color: black;
    margin-left: 0.5%;
    font-size:40px;
}
.HomeLastSectionicons i{
    padding: 10%;
}
.HomeLastSection p{
    font-size: 25px;
    font-family: "Ubuntu Mono", monospace;
    margin-top: 10%;
    color: white;
}
.fa-brands{     
    border: 4px solid black;
    background-color: white;
    border-radius: 20%;
    width: 100%;
    height: fit-content;
}
.HomeLastSection i:hover{     
    border: 4px solid black;
    animation: ease;
    scale: 1.1;
    transition: 0.3s;
    background-color: #FFCE44;
    cursor: pointer;
    border-radius: 20%;
    height: fit-content;
}
@media screen and (max-width: 320px) {
    .lowerNavbar ul{
        background-color: black;
        margin-top: 290%;
    }
}
@media screen and (max-width: 426px){
    .ourgalleryimgs{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .gallerycenterdivphonever{
        font-family: "Dancing Script", cursive;
        margin-top: 25%;
        width: 100%;
        text-align: center;
      height: 400px;
      overflow: hidden;
      color: white;
    }
    .gallerycenterdivphonever h1{
        font-style: italic;
    }
    .gallerycenterdivphonever h2{
        margin-top: 5%;
        font-family: "Ubuntu Mono", monospace;
    }
.gallerycenterdivphonever p{
    margin-top: 5%;
        font-family: "Ubuntu Mono", monospace;

}
    .gallerycontent{
        display: none;
    }
    .homecontent{
       display: none;
    }
    .lowerNavbar ul{
        background-color: black;
        margin-bottom: 125px;
    }
}
@media screen and (max-width: 768px) {
    .lowerNav{
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-evenly;
        font-family: "Dancing Script", cursive;
        align-items: center;
        font-style: italic;
        height: 80px;
        position: fixed;
        width: 100%;
    }
    .lowerNavbar li{
        font-family: "Ubuntu Mono", monospace;
        color: white;
        padding-top: 2.8%;
        padding-bottom: 2.8%;
        font-size: 25px;
        list-style: none;
        border-top: 1px solid #808080;
        width: 100%;
        text-align: center;
    }
    .lowerNavbar ul{
        background-color: black;
        width: 100%;
        margin-top: 10%;
        display: none;
    }
    .lowerNavbar{
        display: none;
        width: 100%;
        position: absolute;
    }
    .lowerNavbar a{
        text-decoration: none;
    }
    .lowerNavbar i{
        color: white;
    }
}